/* Font */
* {
  font-family: 'Nunito', sans-serif;
}

/* Container for flexbox */
.flex-containter {
  padding: 1rem;
}

/* I love CSS :) */
body {
  margin: 0;
}

/* Top navbar  */
#navbar {
  margin: 0;
  background-color: #1a750e;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li a {
  display: block;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffba0a;
}
li a:hover {
  background-color: #114709;
}
button {
  background-color: #1a750e;
  border: none;
  cursor: pointer;
}
/* Classes for toggling the side navbar  */
.hidden {
  display: none;
}

.reveal {
  display: block;
}

/* ------------------------------------- */
/* Container for other content on page */
.main-content {
  display: inline;
  width: 50%;
  height: auto;
  margin-right: 1.5rem;
  margin-top: 2rem;
  align-content: center;
}

/* ------------------------------------- */
/* Meeting Minutes Page */
/* ------------------------------------- */

/* Containers for minute */
.minutes-block {
  border: 1px solid grey;
  border-radius: 5px;
}