/* Font */
* {
  font-family: 'Nunito', sans-serif;
}

/* Container for flexbox */
.flex-containter {
  padding: 1rem;
}

/* I love CSS :) */
body {
  margin: 0;
}

/* Top navbar  */
#navbar {
  margin: 0;
  background-color: #1a750e;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
/*   padding-bottom: 1rem; */
  color: #ffba0a;
}
li a:hover {
  background-color: #114709;
}
#menu-toggle {
  background-color: #1a750e;
  border: none;
  cursor: pointer;
}
/* Classes for toggling the side navbar  */
.hidden {
  display: none;
}

.reveal {
  display: block;
}

/* link button styles */
#link-btn {
  text-decoration: none;
  border: 2px solid #1a750e;
  border-radius: 5px;
  background-color: #1a750e;
  color: white;
  padding: 0.5rem;
}

#link-btn:hover {
  text-decoration: none;
  border: 2px solid #114709;
  border-radius: 5px;
  background-color: #114709;
  color: white;
  padding: 0.5rem;
}

/* Container for announcements */
.announcements-block {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Styles for announcement block */
.announcement {
  border: 2.5px solid grey;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.announcement-header {
  border-bottom: 2.5px solid grey;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.announcement-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ------------------------------------- */
/* Container for other content on page */
.main-content {
  padding-left: 2rem;
}

/* ------------------------------------- */
/* Meeting Minutes Page */
/* ------------------------------------- */

/* Minute block */
.minute {
  border: 2.5px solid grey;
  border-radius: 5px;
  margin: 1.5rem;
}

.date-header {
  border-bottom: 2.5px solid grey; 
  padding-left: 1.5rem;
}

.minute-contents {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ------------------------------------- */
/* Login */
/* ------------------------------------- */

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* width: 50%; */
  border: 2.5px solid grey;
  border-radius: 5px;
}

/* .login-form {
  
} */

#top-banner {
  border: 1px solid red;
  text-align: center;
  background-color: red;
}

/* ------------------------------------- */
/* New Announcement Form */
/* ------------------------------------- */

.creation-container {
  padding: 2rem;
}

#submit-btn {
  border: 2px solid #1a750e;
  border-radius: 5px;
  background-color: #1a750e;
  color: white;
  padding: 0.5rem;
}

#submit-btn:hover {
  border: 2px solid #114709;
  border-radius: 5px;
  background-color: #114709;
  color: white;
  padding: 0.5rem;
}

/* ------------------------------------- */
/* Cursus Honorum page */
/* ------------------------------------- */

.center-text {
  text-align: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  padding-bottom: 1.5rem;
}