/* Font */
* {
  font-family: 'Nunito', sans-serif;
}

/* Container for flexbox */
.flex-containter {
  padding: 1rem;
}

/* I love CSS :) */
body {
  margin: 0;
}

/* Top navbar  */
#navbar {
  margin: 0;
  background-color: #1a750e;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
/*   padding-bottom: 1rem; */
  color: #ffba0a;
}
li a:hover {
  background-color: #114709;
}
#menu-toggle {
  background-color: #1a750e;
  border: none;
  cursor: pointer;
}
/* Classes for toggling the side navbar  */
.hidden {
  display: none;
}

.reveal {
  display: block;
}

/* Container for announcements */
.announcements-block {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Styles for announcement block */
.announcement {
  border: 2.5px solid grey;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.announcement-header {
  border-bottom: 2.5px solid grey;
}

/* ------------------------------------- */
/* Container for other content on page */
.main-content {
  padding-left: 2rem;
}

/* ------------------------------------- */
/* Meeting Minutes Page */
/* ------------------------------------- */

/* Minute block */
.minute {
  border: 2.5px solid grey;
  border-radius: 5px;
  margin: 1.5rem;
}

.date-header {
  border-bottom: 2.5px solid grey; 
}

/* ------------------------------------- */
/* Login */
/* ------------------------------------- */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
/*   display: flex; */
  
}

#top-banner {
  border: 1px solid red;
  text-align: center;
  background-color: red;
}
