{% extends 'base_2.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if form.errors %}
<div id="top-banner" class="reveal">
  <h4>An issue occurred while trying to login, check that the entered credentials are correct.</h4>
  <button onclick="closeBanner()">Close</button>
</div>
{% endif %}
<script>
  function closeBanner() {
    var banner = document.getElementById("top-banner")
    banner.className = "hidden"
  }
</script>

{% if next %}
<div id="top-banner" class="reveal">
  <h4>Please login to proceed</h4>
  <button onclick="closeBanner()">Close</button>
</div>
{% endif %}

<div id="login-container">
  <form method="post" action="{% url 'login' %}" class="login-form">
    {% csrf_token %}
    
    <h3>Username</h3>
    <p>{{form.username}}</p>
    <h3>Password</h3>
    <p>{{form.password}}</p>
  
    <input type="submit" value="login" id="submit-btn">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
{% endblock %}