{% extends 'base_2.html' %}

{% block title %}Cursus Honorum{% endblock %}

{% block content %}
<script>
    function expandNav(){
      var sidebar = document.getElementById("list")
      var button = document.getElementById("menu-toggle")
      if (sidebar.className == "hidden"){
        sidebar.className = "reveal"
        button.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffba0a" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
          `
      }
      else {
        sidebar.className = "hidden"
        button.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffba0a" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        `
      }
    }
  </script>
<div class="flex-container">
    <div id="navbar">
      <div id="sidebar">
        <button onclick="expandNav()" id="menu-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffba0a" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <ul id="list" class="hidden">
          <li><a href="{% url 'student_portal:dashboard' %}">Portal Homepage</a></li>
          <li><a href="{% url 'student_portal:minutes' %}">Meeting Minutes</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="main-content">
   <h1>Cursus Honorum</h1>
   <p>Below you will find the names of all members holding a position in the Cursus Honorm.</p>
   {% if 'perms.student_portal.edit_cursus' %}
   <h4>
       <a id="link-btn" href="{% url 'student_portal:change_role' %}">Add student</a>
   </h4>
   {% endif %} 
</div>
<hr>
<div style="text-align: center;">
   <h2>Consuls</h2>
   {% for consul in consuls %}
   <h4>{{consul.user.username}}</h4>
   {% endfor %} 
   <br>
   <h2>Praetors</h2>
   {% for praetor in praetors %}
   <h4>{{praetor.user.username}</h4>
   {% endfor %}
   <br>
   <h2>Quaestors</h2>
   {% for quaestor in quaestors %}
   <h4>{{quaestor.user.username}</h4>
   {% endfor %}
   <br>
   <h2>Aediles</h2>
   {% for aedile in aediles %}
   <h4>{{aedile.user.username}</h4>
   {% endfor %}
</div>
{% endblock %}