{% extends 'base.html' %}

{% block title %}Constitution{% endblock %}

{% block content %}
<div class="title">
  <h1>The Constitution of the Knights of the Tiber</h1>
</div>
<div class="text-block">
  <h3><b>We the Knights of the Tiber of St. Edward High School, in order to form a more perfect Latin Club, insure efficiency and organization, and promote the Classics and JCL/SCL to the greatest extent, establish this Constitution for St. Edward High School.</b></h3>
  <h3>Article I: Roles of Officers</h3>
  <p>
<b>1.01 The roles of the President include the following:</b>
A. Managing the Latin Club calendar, resolving conflicts, and constructing the framework for other officer's schedules.
B. Organizing club meetings and setting the agenda.
C. Overseeing all officers and ensuring all tasks are being completed in a timely manner.
D. Fulfilling or delegating to another officer any unassigned duty.</p>
<p><b>1.02 The roles of the Vice President include the following:</b>
A. Arranging and publicizing at least one service project per semester.
B. Submitting service hours to the OJCL/NJCL.
C. Overseeing and assisting in the completion of club projects for the State Convention.
D. Assisting the President when necessary. </p>
<p><b>1.03 The roles of the Treasurer include the following,</b>
A. Organizing spirit for all three General Assemblies at State Convention.
B. Organizing one social event per quarter for all Latin students.</p>
<p><b>1.04 The roles of the Parliamentarian include the following:</b>
A. Sharing the service-related duties of the 1st vice president.
B. Organizing a voting delegation for St. Ed's at the State Convention.
C. Revising and amending the Constitution as necessary.</p>
<p><b>1.05 The roles of the Editor include the following:</b>
A. Attending all club events and writing articles to be published in the school newspaper.
B. When unable to attend events, collecting enough information to write an article.
C. Assisting students who express a desire to write articles about Latin Club for any publication.</p>
<p><b>1.06 The roles of the Historian include the following:</b>
A. Taking pictures at all club events or designating someone to take pictures if they cannot attend an event.
B. Submitting pictures to the OJCL historian prior to state convention.</p>
<p><b>1.07 The roles of all officers include the following:</b>
A. Assisting one another in fulfilling their duties for the general welfare of the club.
B. Assisting teacher(s) in organizing/completing/fulfilling any event/project/duty.</p>
<p><b>1.08 The roles of the Technology Coordinator include the following:</b>
A. Creating and maintaining a website for the Knights of the Tiber St. Edward Latin Club.
B. Working with other officers to update the website with necessary information.
C. To submit the St. Edward Latin Club website to the NJCL.</p>
<p><b>1.09 The Roles of the Secretary include the following:</b>
A. Using a laptop to take minutes at Latin Club meetings, keeping track of progress relating to projects and duties.
B. Posting the minutes in a timely manner to the Latin Club website.
  </p>
  <p>
    <h3>Article II: Officer Appointments</h3>
<p><b>2.01 Timing</b>
A. Officer Appointments will occur in the middle of October each year.</p>
<p><b>2.02 Eligibility</b>
A. All high school students enrolled in Latin are eligible to hold office.</p>
<p><b>2.03 Procedure</b>
A. All students who are interested in an office must announce their intent by submitting it in writing to a teacher/officer.
B. The sponsors will deliberate and select positions according to what is most appropriate for each person. The existing Latin Club Board will also contribute to this deliberation.
C. The first action of the new Board will be to amend Article I of the Latin Club Constitution in accordance with any modification of duties or creation or removal of positions.
  </p>
  <p>
    <h3>Article III: The Amendment Process</h3>
<p><b>3.01 Eligibility</b>
A. Submission of amendments is open to all club members.</p>
<p><b>3.02 Ratification</b>
A. Amendments must be prepared in a formally written proposal to the St. Edward Latin Club Board.
B. Board members reserve the right to edit proposed amendments as appropriate.
C. An amendment must receive a majority of votes from the St. Edward Latin Club Board.
D. If ratified, changes described in the amendment are effective immediately, unless otherwise stated in the amendment.
  </p>

  <p>
    <h3>Article IV: Impeachment</h3>
<p><b>4.01 The following will be considered grounds for impeachment from office:</b>
A. Negligence of duties as defined in constitution.
B. Negligence of verbal or written warnings from officers or sponsors.
C. Negligence of St. Ed's or OJCL rules.
D. Persistent failure to participate in Latin Club events.
E. Conduct inconsistent with the goals of the St. Edward Latin Club.</p>
<p><b>4.02 Impeachment Process</b>
A. A vote can be called by any officer on the matter of bringing another officer's impeachment to vote after consultation with, and approval of, a Latin Club Sponsor.
B. A vote of all of the officers besides the one up for impeachment will be held. For the officer in question to be impeached, a majority affirmative vote is required.
C. In case of a tie, a discussion will be held and another vote will then occur. If another tie occurs, the Latin Club sponsors will then determine the result.
  </p>
  <p>
    <h3>Article V: Club Projects</h3>
<p><b>5.01 Officers must oversee the creation of the following projects each year prior to State Convention:</b>
A. Banner
B. Club Project
C. Skit
D. Audio/Visual
E. Service</p>
<p><b>5.02 In order to complete these projects, the officers may compile a committee of willing students and assign them a given duty/project.</b>
  </p>
</div>
{% endblock %}