{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="title">
  <h1 id="title-text">Knights of the Tiber</h1>
</div>
<script defer>
  var titles = ["We are creative", "We are bold", "We are insightful", "We are the Knights of the Tiber"]
  var iter = 0
  function changeTitle(){
    var title = document.getElementById("title-text")
    title.className = "fade-out"
    title.innerHTML = titles[iter]
    // title.className = "normal"
    if (iter == 3){
      iter = 0
    }
    iter += 1
    // title.className = "normal"
    setTimeout(changeTitle, 5000)
  }
  changeTitle()
</script>
<section class="about">
  <div id="side-text">
    <h2>Who are We?</h2>
    <p>We are the Knights of the Tiber, the Latin club at St. Ed's and the <i>only</i> Latin club in the state of Ohio with a name as cool as ours. All students enrolled in Latin are eligible to join the club and we meet every community period E.</p>
    <h2>Club Officers</h2>
    <h4>Consuls</h4>
    <ul>
    {% for consul in consuls %}
      <li>{{consul.user.first_name}} {{consul.user.last_name}}</li>
    {% endfor %}
    </ul>
    <h4>Praetors</h4>
    <ul>
    {% for praetor in praetors %}
      <li>{{praetor.user.first_name}} {{praetor.user.last_name}}</li>
    {% endfor %}
    </ul>
    <h4>Quaestors</h4>
    <ul>
    {% for quaestor in quaestors%}
      <li>{{quaestor.user.first_name}} {{quaestor.user.last_name}}</li>
    {% endfor %}
    </ul>
    <h4>Aediles</h4>
    <ul>
    {% for aedile in aediles %}
      <li>{{aedile.user.first_name}} {{aedile.user.last_name}}</li>  
    {% endfor %}
    </ul>
  </div>
  <div class="side-image">
    <!-- <img src="{% static 'frontend/bg.jpg' %}" id="image"> -->
  </div>
</section>
<hr>
<div class="paragraph-block">
  <h2>What do you do?</h2>
  <p>Contrary to popular belief, Latin is alive and well at St. Ed's. In addition to the fun and antics that take place during our meetings, we also travel to the state and sometimes even the national Latin convention! Knights compete in a variety of different academic contests ranging from tests, to Certamen (a Latin academic challenge), to Latin oratory and recitation.</p>
  <br>
  <h2>A Tradition of Excellence</h2>
  <p>Our Knights have a history of successes on the state level and at the national level, here are a list of notable Knights and their many accomplishments...</p>
  <ul>
    <li>
      Sam Richardson '22
      <ul>
        <i>National Convention</i>
        <li>3rd Place - Academic Decathlon</li>
        <li>2nd Place - Prose Reading Comprehension, Poetry Reading Comprehension</li>
        <li>National Champion - Ancient Geography</li>
        <i>State Convention</i>
        <li>8th Place - Latin IV Literature</li>
        <li>6th Place - Latin IV Grammar</li>
        <li>3rd Place - Latin IV Derivatives</li>
        <li>2nd Place - Latin IV Reading Comprehension, Vocabulary, and Sight Reading</li>
        <li>1st Place - Latin IV Roman History</li>
      </ul>
    </li>
    <li>
      Ty Wiggenhorn '23
      <ul>
        <i>State Convention</i>
        <li>9th Place - Latin III Literature</li>
        <li>8th Place - Latin III Grammar, Reading Comp, & Academic Pentathlon</li>
        <li>7th Place - Latin III Roman History</li>
      </ul>
    </li>
    <li>
      Jacob Cook '23
      <ul>
        <i>State Convention</i>
        <li>9th Place - Latin III Derivatives</li>
        <li>7th Place - Latin III Reading Comprehension</li>
        <li>6th Place - Latin III Grammar</li>
      </ul>
    </li>
    <li>
      Jack Stanovic '24
      <ul>
        <i>State Convention</i>
        <li>10th Place - Latin II Grammar & Roman History</li>
        <li>9th Place - Latin II Academic Pentathlon</li>
        <li>7th Place - Latin II Vocabulary & Greek Mythology</li>
        <li>6th Place - Latin II Reading Comprehension</li>
        <li>1st Place - Latin II Recitation (plus “Best of Show”)</li>
      </ul>
    </li>
    <li>
      Benjamin Nguyen '24
      <ul>
        <i>State Convention</i>
        <li>9th Place - Latin II Academic Pentathlon</li>
        <li>8th Place - Latin II Derivatives</li>
        <li>5th Place - Latin II Vocabulary and Roman History</li>
        <li>2nd Place - Latin II Greek Mythology</li>
      </ul>
    </li>
    <li>
      Luke Feran '24
      <ul>
        <i>State Convention</i>
        <li>8th Place - Latin II Academic Pentathlon</li>
      </ul>
    </li>
    <li>
      Alex Glista '24
      <ul>
        <i>State Convention</i>
        <li>10th Place - Latin II Derivatives</li>
        <li>9th Place - Latin II Vocabulary</li>
      </ul>
    </li>
    <li>
      Colin Alber '25
      <ul>
        <i>State Convention</i>
        <li>9th Place - Latin I Literature</li>
        <li>8th Place - Latin I Academic Pentathlon</li>
        <li>3rd Place - Latin I Derivatives and Roman Life</li>
        <li>2nd Place - Latin I Roman History and Vocabulary</li>
        <li>1st Place - Latin I Grammar, Reading Comprehension, and Sight Reading (plus “Best of Show” for Sight Reading)</li>
      </ul>
    </li>
    <li>
      Cameron Sheldon '25
      <ul>
        <i>State Convention</i>
        <li>8th Place - Latin I Academic Pentathlon</li>
        <li>8th Place - Latin I Literature</li>
        <li>7th Place - Latin I Greek Mythology</li>
        <li>3rd Place - Latin I Roman History</li>
        <li>2nd Place - Latin I Grammar, Reading Comprehension, and Roman Life</li>
        <li>1st Place - Latin I Derivatives and Vocabulary</li>
      </ul>
    </li>
    <li>
      Will Garland '25
      <ul>
        <i>State Convention</i>
        <li>7th Place - Latin I Derivatives</li>
        <li>1st Place - Latin I Recitation (plus “Best of Show”)</li>
      </ul>
    </li>
    <li>
      Sammy Nguyen '25
      <ul>
        <i>State Convention</i>
        <li>8th Place - Latin I Academic Pentathlon</li>
        <li>4th Place - Latin I Greek Mythology</li>
      </ul>
    </li>
    <li>
      Sean Garlock '25
      <ul>
        <i>State Convention</i>
        <li>10th Place - Latin I Vocabulary</li>
        <li>7th Place - Latin I Reading Comprehension</li>
        <li>4th Place - Latin I Roman History</li>
      </ul>
    </li>
    <li>
      Hayden Helfer '25
      <ul>
        <i>State Convention</i>
        <li>10th Place - Latin I Roman History</li>
        <li>9th Place - Latin I Academic Pentathlon</li>
      </ul>
    </li>
    <li>
      Ryan Hammond '25
      <ul>
        <i>State Convention</i>
        <li>10th Place - Latin I Roman Life</li>
        <li>9th Place - Latin I Derivatives</li>
      </ul>
    </li>
    <li>
      All-Ohio National Certamen Team
      <ul>
        <li>Jacob Cook '23</li>
        <li>Ty Wiggenhorn '23</li>
        <li>Sam Richardson '22</li>
      </ul>
    </li>
    <il>
      Novice Competitive Certamen (State) - 4th Place
      <ul>
        <li>Colin Alber</li>
        <li>Sean Curran</li>
        <li>Will Garland</li>
        <li>Ryan Hammond</li>
        <li>Sammy Nguyen</li>
        <li>Cameron Sheldon</li>
      </ul>
    </il>
    <li>
      Intermediate Competitive Certamen (State) - 1st Place 
      <ul>
        <li>Luke Feran</li>
        <li>Alex Glista</li>
        <li>Nate Johnson</li>
        <li>Benji Nguyen</li>
        <li>Jack Stanovic</li>
      </ul>
    </li>
  </ul>
</div>
<div class="about">
  <div id="side-text">
    <h2>Important dates and deadlines</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum amet illo sunt, cumque alias esse ex voluptas dolorem, debitis deserunt maiores error excepturi consequatur deleniti, consequuntur aliquid ab! Necessitatibus, debitis?</p>
  </div>
  <div class="side-image">

  </div>
</div>
{% endblock %}