{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="navbar">
  <ul id="list">
    <li class="list-item"><a href="{% url 'constitution' %}">Constitution</a></li>
    <li class="list-item"><a href="{% url 'contact' %}">Contact Us</a></li>
    <li class="list-item"><a href="{% url 'student_portal:dashboard' %}">Student Portal</a></li>
  </ul>
</div>
<div class="title">
  <h1 id="title-text">Knights of the Tiber</h1>
</div>
<script defer>
  var titles = ["We are creative", "We are bold", "We are insightful", "We are the Knights of the Tiber"]
  var iter = 0
  function changeTitle(){
    var title = document.getElementById("title-text")
    title.className = "fade-out"
    title.innerHTML = titles[iter]
    // title.className = "normal"
    if (iter == 3){
      iter = 0
    }
    iter += 1
    // title.className = "normal"
    setTimeout(changeTitle, 5000)
  }
  changeTitle()
</script>
<section class="about">
  <div id="side-text">
    <h2>Who are We?</h2>
    <p>We are the Knights of the Tiber, the Latin club at St. Ed's and the <i>only</i> Latin club in the state of Ohio with a name as cool as ours. All students enrolled in Latin are eligible to join the club and we meet every community period E.</p>
  </div>
  <div class="side-image">
    <!-- <img src="{% static 'frontend/bg.jpg' %}" id="image"> -->
  </div>
</section>
<hr>
<div class="paragraph-block">
  <h2>What do you do?</h2>
  <p>Contrary to popular belief, Latin is alive and well at St. Ed's. In addition to the fun and antics that take place during our meetings, we also travel to the state and sometimes even the national Latin convention! Knights compete in a variety of different academic contests ranging from tests, to Certamen (a Latin academic challenge), to Latin oratory and recitation.</p>
  <br>
  <h2>A Tradition of Excellence</h2>
  <p>Our Knights have a history of successes on the state level and at the national level, here are a list of notable Knights and their many accomplishments</p>
</div>
<div class="about">
  <div id="side-text">
    <h2>FirstName LastName</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum amet illo sunt, cumque alias esse ex voluptas dolorem, debitis deserunt maiores error excepturi consequatur deleniti, consequuntur aliquid ab! Necessitatibus, debitis?</p>
  </div>
  <div class="side-image">

  </div>
</div>
{% endblock %}