{% extends 'base.html' %}

{% block title %}News of the Discipline{% endblock %}

{% block content %}
<div class="title">
    <h1 id="title-text">News of the Discipline</h1>
</div>
<div class="paragraph-block">
    <h5>Looking for the latest news on the classical world? Look no further! This page is updated and maintained by club members.</h5>
</div>
<hr>
<div class="about">
    <div id="side-text">
      <h2>Article Title</h2>
      <p>This is an example of text with an image, but articles can also just be a paragraph block. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minus! Sint illum accusantium ex harum, odit nihil asperiores minima quam soluta ipsum repellat voluptatum iste doloremque explicabo, adipisci blanditiis dignissimos.</p>
    </div>
    <div class="side-image-alt">
  
    </div>
  </div>
{% endblock %}